<form action="#" th:action="@{/user-change-password}" th:object="${changePasswordForm}"
      method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <table>
        <tr>
            <td>Staré heslo:</td>
            <td><input type="password" class="form-control" th:field="*{oldPassword}" /></td>
        </tr>
        <tr>
            <td>Nové heslo:</td>
            <td><input type="password" class="form-control" th:field="*{newPassword}" /></td>
        </tr>
        <tr>
            <td>Nové heslo znovu:</td>
            <td><input type="password" class="form-control" th:field="*{newPasswordConfirm}" /></td>
        </tr>
        <tr>
            <td><button class="btn btn-success" type="submit">Uložit</button></td>
        </tr>
    </table>
</form>
