<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
>

<form action="#" th:action="@{${formUrl}}" th:object="${invoice}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${invoice?.getId()}" />
    <table class="table">
        <thead>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Dodavatel</th>
            <td>
                <select class="form-control" th:field="*{supplierCompany}" th:value="${invoice?.getSupplierCompany()?.getId()}">
                    <th:block th:each="company : ${companiesList}">
                        <option th:value="${company.getId()}" th:text="${company.getName()}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row">Odběratel</th>
            <td>
                <select class="form-control" th:field="*{billToCompany}" th:value="${invoice?.getBillToCompany()?.getId()}">
                    <th:block th:each="company : ${companiesList}">
                        <option th:value="${company.getId()}" th:text="${company.getName()}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row">Datum vytvoření</th>
            <td><input type="text" class="datepicker form-control" th:field="*{datePublish}" th:value="${#dates.format(invoice?.getDatePublish(), 'yyyy/MM/dd')}" /></td>
        </tr>
        <tr>
            <th scope="row">Datum splatnosti</th>
            <td><input type="text" class="datepicker form-control" th:field="*{datePayment}" th:value="${#dates.format(invoice?.getDatePayment(), 'yyyy/MM/dd')}" /></td>
        </tr>
        <tr>
            <th scope="row">Datum zdan. plnění</th>
            <td><input type="text" class="datepicker form-control" th:field="*{dateTaxableSupply}" th:value="${#dates.format(invoice?.getDateTaxableSupply(), 'yyyy/MM/dd')}" /></td>
        </tr>
        <tr>
            <th scope="row">Stav</th>
            <td>
                <select class="form-control" th:field="*{type}" th:value="${invoice?.getType()}">
                    <th:block th:each="type : ${T(cz.pia.cagy.accountingApp.model.enums.EInvoiceType).values()}">
                        <option th:value="${type}" th:text="${type.displayValue}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Položky faktury</h3>
<div id="movieList">
    <div class="row">
        <div class="col form-group d-none">ID</div>
        <div class="col form-group">Název</div>
        <div class="col form-group">Počet (ks)</div>
        <div class="col form-group">DPH (%)</div>
        <div class="col form-group">Cena/ks (Kč)</div>
        <div class="col form-group">Cena/ks s DPH (Kč)</div>
        <div class="col form-group"></div>
    </div>
    <div class="row item" th:each="invoiceItem, i : *{invoiceItems}">
        <div class="col form-group d-none">
            <input th:field="*{invoiceItems[__${i.index}__].id}" type="text" class="form-control">
        </div>
        <div class="col form-group">
            <input th:field="*{invoiceItems[__${i.index}__].name}" type="text" class="form-control">
        </div>
        <div class="col form-group">
            <input th:field="*{invoiceItems[__${i.index}__].quantity}" type="text" class="form-control">
        </div>
        <div class="col form-group">
            <input th:field="*{invoiceItems[__${i.index}__].priceVat}" type="text" class="form-control">
        </div>
        <div class="col form-group">
            <input th:field="*{invoiceItems[__${i.index}__].price}" type="text" class="form-control">
        </div>
        <div class="col form-group">
            <input th:field="*{invoiceItems[__${i.index}__].priceDph}" type="text" class="form-control">
        </div>
        <div class="col form-group">
            <a class="remove btn btn-danger" href="#" role="button" onclick="removeInputField(this);">Remove</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-success" onclick="addRow()">Add row</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="submit"><span th:text="${formSubmit}" /></button>
    </div>
</div>

</form>


</html>