<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
>

<form action="#" th:action="@{${formUrl}}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${user?.getId()}" />
    <input type="hidden" th:field="*{address.id}" th:value="${user?.getAddress()?.getId()}" />
    <table class="table">
        <thead>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Přezdívka</th>
            <td><input type="text" class="form-control" th:field="*{username}" th:value="${user?.getUsername()}" /></td>
        </tr>
        <tr>
            <th scope="row">Jméno</th>
            <td><input type="text" class="form-control" th:field="*{firstName}" th:value="${user?.getFirstName()}" /></td>
        </tr>
        <tr>
            <th scope="row">Příjmení</th>
            <td><input type="text" class="form-control" th:field="*{lastName}" th:value="${user?.getLastName()}" /></td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td><input type="text" class="form-control" th:field="*{email}" th:value="${user?.getEmail()}" /></td>
        </tr>
        <tr>
            <th scope="row">Rodné číslo</th>
            <td><input type="text" class="form-control" th:field="*{personalIdentificationNumber}" th:value="${user?.getPersonalIdentificationNumber()}" /></td>
        </tr>
        <tr>
            <th scope="row">Telefon</th>
            <td><input type="text" class="form-control" th:field="*{phone}" th:value="${user?.getPhone()}" /></td>
        </tr>
        <tr>
            <th scope="row">Číslo účtu</th>
            <td><input type="text" class="form-control" th:field="*{accountNumber}" th:value="${user?.getAccountNumber()}" /></td>
        </tr>
        <tr>
            <th scope="row">Číslo karty</th>
            <td><input type="text" class="form-control" th:field="*{cardNumber}" th:value="${user?.getCardNumber()}" /></td>
        </tr>
        <tr>
            <th scope="row">Adresa</th>
            <td>
                <input type="text" class="form-control" th:field="*{address.street}" th:value="${user?.getAddress()?.getStreet()}" placeholder="Adresa"/><br>
                <input type="text" class="form-control" th:field="*{address.city}" th:value="${user?.getAddress()?.getCity()}" placeholder="Město"/><br>
                <input type="text" class="form-control" th:field="*{address.zip}" th:value="${user?.getAddress()?.getZip()}" placeholder="PSČ"/>
            </td>
        </tr>
        <tr sec:authorize="hasAuthority('ADMIN')">
            <th scope="row">Role</th>
            <td>
                <select class="form-control" th:field="*{role}" th:value="${user?.getRole()?.getId()}">
                    <th:block th:each="role : ${roles}">
                        <option th:value="${role.getId()}" th:text="${role.getName()}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr th:if="${showPassword} == true">
            <th scope="row">Heslo</th>
            <td>
                <input type="text" class="form-control" th:field="*{password}" /><br>
            </td>
        </tr>
        <tr>
            <th><button type="submit"><span th:text="${formSubmit}" /></button></th>
            <td></td>
        </tr>
        </tbody>
    </table>
</form>


</html>